<EscherMonitor>
  <storeMethod>web</storeMethod>
  <storeURI>http://www.escherhomewatch.com</storeURI>
  <storeKey>271</storeKey>
  <xbeeCoordinator>
    <port>/dev/ttyUSB0</port>
    <speed>9600</speed>
  </xbeeCoordinator>
  <xbee>
    <id>1</id>
    <name>Test1</name>
    <scale>0.578</scale>
    <offset>-457.1</offset>
    <addressH>0</addressH>
    <addressL>2</addressL>
    <interval>5000</interval>
  </xbee>
  <xbee>
  	<id>2</id>
  	<name>Test2</name>
  	<scale>0.578</scale>
  	<offset>-457.1</offset>
  	<addressH>0</addressH>
  	<addressL>3</addressL>
  	<interval>5000</interval></xbee>
  <TEDURI>http://192.168.0.107/history/minutehistory.xml</TEDURI>
  <controller>Office</controller>
  <configURI>http://www.escherhomewatch.com</configURI>
</EscherMonitor>
